
:root{
  scroll-behavior: smooth;
  --background-dark : linear-gradient(to right bottom ,#0278ae,#142F43)
}

@keyframes eyeMove {
  0%{
    opacity: 0;
    transform: translate(-10rem,5rem);
  }
  70%{
    opacity: .5;
    transform: translate(2rem,2rem) scale(1.5);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
  
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-5rem);
  }
  70%{
    transform: translateX(2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
  
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(5rem);
  }
  70%{
    transform: translateX(-2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes moveInRightImg {
  0%{
    opacity: 0;
    transform: translateX(5rem) rotate(15deg);
  }
  70%{
    transform: translateX(-2rem) rotate(15deg);
  }
  100%{
    opacity: 1;
    transform: translateX(0) rotate(15deg);
  }
}




body { font-family: 'Montserrat', sans-serif;
text-align: center;
}

/* Title */
h1 { font-size: 3rem;
  line-height: 1.5;
font-weight: 800;
}
h1.big-heading{
  animation: moveInLeft 1s ease-in-out ;
}
.container-fluid { padding: 7% 15%;}
#title{
  text-align: left;
background-image: var(--background-dark);

  color: #fff;
  /* height: 100vh; */
  backface-visibility: hidden;

}
#title .container-fluid {padding:1% 13% 7%; }

.abdullah-img {
  width: 50%;
  transform: rotate(15deg);
  border-radius: 20px;
  position: relative;
  left:27%;
  box-shadow: 0 3rem 4rem rgba(0,0,0,.4);
  animation: moveInRightImg 1s ease-in-out;
  margin-bottom: 2rem;
}

.navbar {
  padding:0 0 4.5rem;}

.navbar-brand { font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
font-weight: bold;
backface-visibility: hidden;
animation: moveInLeft 1s ease-in-out;
transition: all .3s ease-in-out;}
.navbar-brand:hover{
  transform: translateX(2rem) scale(.8);
}

.nav-item {padding: 0 18px;
 animation: moveInRight 1s ease-in-out;
}
.nav-link { font-size: 1.2rem;
font-family: 'Montserrat', sans-serif;}
.fa-eye {
  font-size: 3rem;
   margin-left: 30%;
   margin-bottom: 5%;
   animation: eyeMove 2s ease-in-out ;
}




/* Feature Section */

#features { background-color: #fff;
  position: relative;
}
h2.heading-feature{
  animation: moveInLeft 1s ease-in-out ;
}
.fa-feature { color:#0278ae;
margin-bottom: 1rem;}
.fa-feature:hover {color:#0f3057 ;

}
.feature-box {
  animation: moveInRight 1s ease-in-out ;
   padding: 5%;}

.features-des {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
.feature-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;


}
p {color: #8f8f8f;}


/* Hobbies */
#hobbies { background-image: var(--background-dark);
color: #fff;
}
.hobby-title{
  padding-top: 3%;
}
.carousel-left{
  text-align:left;
}
.hobby-heading{
font-size: 2rem;
font-weight: bold;
margin-bottom: 2rem;
 }
.hobby-img {
  border-radius: 100%;
  width: 35%;
float:left;
margin-right: 10%;
margin-bottom:5rem;}
.cri-img {
  border-radius: 100%;
  width: 40%;
float:left;
margin-right: 10%;
margin-bottom:5rem; }
.skill-para { color: #fff;

line-height: 2;}



/* Footer Section */
.footer-icon { margin: 15px 30px;}
.contact-button{
margin: 5% 3% 5% 0;}
#footer .container-fluid { padding: 5% 15% 1%;

}





@media(max-width:1315px){
  h1,.features-des{
    font-size: 2rem;
  }
}
@media(max-width:1090px){
  #title{text-align:center;

  }
    .abdullah-img { transform: rotate(0);
    margin-top: 3%;
  position: static;
  animation: moveInRight 1s ease-in-out;
}
  .fa-eye { position: relative;
  right: 15%;}
}
@media(max-width:992px){
  .feature-box{
    background-color: #f7f7f7;
    margin-bottom: 4rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.12);
    border-radius: 5px;
  }
  .feature-box:first-of-type{
    margin-top: 2rem;
  }
  .feature-box p{
    color: #2f373a;
  }
}

@media(max-width:998px){
  .fa-eye{
    animation: moveInLeft 1s ease-in-out;
  }
}
@media(max-width:973px){
  .abdullah-img{
    width:40%;
  }
}
